/* General style */
* {
    box-sizing: border-box;
}

:root {
    --backBody: #ECEEF1;
    --txtBody: #505050;
    --white: #FFF;
    --btnText: #0077C5;
    --headerBtnBorder: #4C4C4C;
    --mainArticleBorder: #C7C7C7;
    --mainArticleTermsTxt: #757575;
    --mainArticleRecaptchaTxt: #8D9096;
    --mainPrivacySettingsBack: #6B6C72;
    --mainArticleButtonHover: #127BCA;
}

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--backBody);
    color: var(--txtBody);
}
    a {
        text-decoration: none;
        color: var(--btnText);
    }
        a:hover {
            text-decoration: underline;
        }

        a:focus {
            outline: .1em dotted var(--mainPrivacySettingsBack);
            text-decoration: underline;
        }

    button:hover,
    .main__privacySettings:hover {
        cursor: pointer;
    }
        button:focus {
            outline: none;
        }

        .btnImg {
            height: 1.5em;
            width: 1.2em;
            margin-right: .45em;
            vertical-align: text-top;
            display: inline-block;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDBDMTAuNzk1NiAwIDEyLjg5MjkgMi4xODQxNyAxMi45OTYgNS4yNjE1NEwxMyA1LjVWN0gxNEMxNS4xMDQ2IDcgMTYgNy44OTU0MyAxNiA5VjE4QzE2IDE5LjEwNDYgMTUuMTA0NiAyMCAxNCAyMEgyQzAuODk1NDMgMjAgMCAxOS4xMDQ2IDAgMThWOUMwIDcuODk1NDMgMC44OTU0MyA3IDIgN0gzVjUuNUMzIDIuMjk3NjEgNS4xMzI3MiAwIDggMFpNMTQgOUgyVjE4SDE0VjlaTTggMTFDOS4xMDQ1NyAxMSAxMCAxMS44OTU0IDEwIDEzQzEwIDEzLjczOTggOS41OTgyOCAxNC4zODU4IDkuMDAxMDggMTQuNzMxOEw5IDE1LjJDOSAxNS42NDE4IDguNTUyMjggMTYgOCAxNkM3LjQ4NzE2IDE2IDcuMDY0NDkgMTUuNjkxMiA3LjAwNjczIDE1LjI5MzNMNyAxNS4yTDYuOTk5OTMgMTQuNzMyNEM2LjQwMjE3IDE0LjM4NjYgNiAxMy43NDAzIDYgMTNDNiAxMS44OTU0IDYuODk1NDMgMTEgOCAxMVpNOCAyQzYuMzMxNTMgMiA1LjA4ODI2IDMuMjc3NDEgNS4wMDQ1IDUuMjgyNDJMNSA1LjVWN0gxMVY1LjVDMTEgMy4zNzAyOCA5LjcyODA2IDIgOCAyWiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
            background-size: contain;
            background-repeat: no-repeat;
        }

/* Header */
.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2em;
    padding: 0 1.7em;
}
    .header__txtBox {
        text-align: end;
        margin: 1.1em 0 0;
    }
        .header__txtBox p {
            margin: 0 0 .4em;
        }

    .header__button {
        border: .1em solid var(--headerBtnBorder);
        border-radius: .3em;
        background: var(--btnText);
        color: var(--white);
        font-size: 1.125em;
        padding: .4em 1.45em;
        margin: .7em .75em 0;
    }

/* Footer */
.footer {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    padding: 0 2.5em 2em;
    line-height: 1.6;
}   
    .footer__ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
        .footer__ul--a {
            margin: 0 .5em;
            color: var(--txtBody);
        }

    .footer__txtBox p {
        margin: 0;
    }
